@import "~@/main.scss";
@keyframes move {
                from {
                    transform: rotate(0deg)
                }
                to {
                    transform: rotate(360deg);
                }
        }
        .current{
            color:red
        }
#content{
 padding:0.1rem;
 overflow:hidden;
 position:relative;
 #header{
    @include rect(100%,0.66rem);
    border-bottom:2px solid #eee;
    position:absolute;
    z-index:9;
    top:0;
    left:0;
    @include flexbox();
    @include align-items();
    #back{
    @include text-color(#fff);
    @include font-size(0.24rem);
    position:absolute;
    left:0.1rem;
}
}
#box1{
   @include rect(100%,3rem);
   position:absolute;
   margin-top:1.28rem;
   @include flexbox();
   @include align-items();
   @include justify-content();
}
#huan{
    @include rect(3rem,3rem);
    margin-right:0.17rem;
}
#box2{
   @include rect(100%,2.64rem);
   position:absolute;
   @include flexbox();
   @include align-items();
   @include justify-content();
   #huan1{
    @include rect(1rem,1.4rem);
    margin-left:0.5rem;
}
}

 #caozuo{
    @include rect(100%,0.5rem);
    position:absolute;
    padding:0 0.2rem;
    top:4.8rem;
    @include flexbox();
    @include align-items();
    @include justify-content(space-around)
    li{
        @include rect(0.5rem,0.5rem);
        color:#fff;
        @include font-size(0.2rem)
    }
 }
 #bgImg{
    @include rect(100%,100%);
    position:absolute;
    filter: blur(10px);
    top:0;
    left:0;
 }
 #box{
    
 }

}

#h1{
   margin:0 auto;
    @include text-color(#fff);
    @include font-size(0.2rem)
}

#imgs{
   @include rect(2rem,2rem);
   margin:0 auto;
   margin-top:1.8rem;
   animation: move 10s linear infinite; 
}
/*.imgss{
     
}*/
#jindu{
    position:absolute;
    @include rect(80%,0.04rem);
    @include background-color(#eee);
    top:5.5rem;
    left:10%;
}


#box{
    position:absolute;
    bottom:0.3rem;
    left:0;
    @include rect(100%,0.5rem);
    @include flexbox();
    @include align-items();
    @include justify-content(space-around);
    padding:0 0.1rem;
    i{
         @include font-size(0.2rem);
         @include text-color(#fff);
           
    }
}
#btn{
    @include rect(0.46rem,0.46rem)
}